<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>View <a asp-controller="VendorInvoice" asp-action="GetAllVendorsAlphabetically" asp-route-lowerBound="a" asp-route-upperBound="e">vendors</a>.</p>
</div>
